// These styles are entirely stupid, but they demonstrate the usage of BEM with SASS and React components, and
// also demonstrate namespacing CSS classes using SASS.

.react-app {
  &-page1 {
    background: #efefef;

    &--some-modifier {
      &::before {
        position: absolute;
        font-size: 10px;
        font-style: italic;
        color: #999;
        content: "(with some-modifier)"
      }
    }

    &__heading {
      color: tomato;

      &--another-modifier {
        &::after {
          font-size: 10px;
          font-style: italic;
          font-weight: normal;
          color: #999;
          content: "(with another-modifier)"
        }
      }
    }

    &__button {
      color: blue;
    }
  }
}
